#wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}

header {
  width: 85%;
  border-top: 1px dotted;
  display: flex;
}

.container_left {
  width: 20%;
  // background-color: red;
}

.main {
  display: flex;
  flex-flow: row;
  // background-color: yellow;
  width: 85%;
}

// .container_right {
//   width: 50%;
//   background-color: blue;
// }

footer {
  padding: 100px;
  // background-color: green;
}

#page_title {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  padding-top: 10px;
  padding-right: 150px;
}

a {
  text-decoration: none;
  color: gray;
}

#welcome_container {
  color: gray;
  font-size: 14px;
  border-left: 1px dotted;
  padding-top: 18px;
  padding-left: 15px;
}

.btn_container {
  padding-top: 10px;
  display: flex;
  flex-flow: column;

}

.btn_login {
  color: gray;
  font-size: 14px;
}

.btn_newAcct {
  color: gray;
  font-size: 14px;
}

.gallery_wrapper {
  // background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 1rem;
  border-sizing: border-box;
}

body {
  font-family: 'Roberto', sans-serif;
  color: gray;
  font-size: 12px;
}

.feature_img {
  margin-top: 5rem;
  width: 100%;
  padding-bottom: 0px;
  // justify-content: center;
}

.card_container {
  display: block;
  margin: 0.5rem 0.5rem;
  height: 400;
  width: 325px;
}

.det_card_container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.gallery_image_box {
  width: 100%;
  height: 200px;
}

.det_img_box {
  width: 75%;
  height: 75%;
}

.author_box {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.description_box {
  padding-top: 0px;
  margin-top: 0px;
}
