<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Architekt</title>
</head>
  <header>
    <div id="websiteName">_ARCHITEKT</div>
    <div id="welcome">Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</div>
  </header>
  <body>
    {{{body}}}
  </body>
  <footer></footer>
</html>