<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>_Architekt</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto:400,500" rel="stylesheet">
</head>
  <div id="wrapper">
    <header class="header">
      <div id="page_title">
          <a href="/gallery"> _ARCHITEKT </a>
      </div>
      <div id="welcome_container">Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.
      </div>
    </header>
    <div class="main">
      <div class="container_left">
        <div class="btn_container">
          <a href="/login/new" class="btn_newAcct">Create Account</a>
          <a href="/login/" class="btn_login">Login</a>
        </div>
      </div>
      <body>
        {{{body}}}
      </body>
      <div class="container_right"></div>
    </div>
    <footer class="footer"></footer>
  </div>
</html>

