<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>_Architekt</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto:400,500" rel="stylesheet">
</head>
  <div id="wrapper">
    <header>
      <div id="page_title">
          <a href="/gallery"> _ARCHITEKT </a>
      </div>
      <div id="welcome_container">Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</div>
      <div class="btn_container">
    <div class="btn_login">
      <a href="/login/">Login</a>
    </div>
    <div class="btn_newAcct">
      <a href="/login/new">Create Account</a>
    </div>
  </div>
    </header>
    <body>
      {{{body}}}
    </body>
    <footer></footer>
  </div>
</html>

