<div class="detail">
  <div class="title"></div>
  <div class="targetPhoto">
    <img src="{{link}}" alt="image">
  </div>
  <div class="info">
    <p class="author"> {{author}} -</p>
    <p class="description"> {{description}} </p>
   </div>
</div>
<div class="thumbnails">

</div>