<div class="det_card_container">
  <div class="title_box"></div>
  <img src="{{link}}" alt="image" class="det_img_box">
  <div class="info_container">
    <p class="author_box"> {{author}} -</p>
    <p class="description_box"> {{description}} </p>
  </div>
<form action="/gallery/{{id}}/edit">
    <input type="submit" value="Edit Post"/>
</form>
<div>
<div class="thumbnail_container"></div>

