<div class="detail">
  <div class="title"></div>
  <div class="targetPhoto">
    <img src="{{link}}" alt="image">
  </div>
  <div class="info">
    <p class="author"> {{author}} -</p>
    <p class="description"> {{description}} </p>
   </div>
<form action="/gallery/{{id}}/edit">
    <input type="submit" value="Edit Post"/>
</form>
<div class="thumbnails"></div>

