<div class="btns">
  <div class="loginBtn">
    <a href="/login/"> Login </a>
  </div>
  <div class="newUser">
    <a href="/login/new"> Create Account </a>
  </div>
</div>

{{#each gallery}}

<div class="cards">
  <div class="photos">
    <a href="/gallery/{{id}}">
      <img src="{{link}}" alt="image">
    </a>
  </div>
  <div class="caption">
    <p>{{author}} -</p>
  </div>
</div>

{{/each}}