<div class="gallery_wrapper">
  {{#each gallery}}
    <div class="card_container">
        <a href="/gallery/{{id}}">
          <img src="{{link}}" alt="image" class="gallery_image_box">
        </a>
      <div class="caption_container">
        <p class="author_box">{{author}} -</p>
        <p class="description_box">{{description}}</p>
      </div>
    </div>
  {{/each}}
</div>