<h3>New User - Sign Up</h3>

<form action="/login/new" method="POST">
  <input type ="text" name="username" value="username" class="username_box">
  <input type ="password" name="password" value="password" class="pwd_box">
  <input type="submit" value="Login"/>
</form>

