<div class="addNew">

    <form action="/gallery" method="POST">
      <input type ="text" name="author" value="author">
      <input type ="text" name="link" value="link">
      <input type ="text" name="description" value="description">
      <input type="submit" value="Submit Post"/>
    </form>

</div>
<div class="thumbnails"></div>